@import "tailwindcss";

@theme {
  /* This creates the utility class: font-poppins */
  --font-fraunces: "Fraunces", sans-serif;

  /* OR override the default sans font for the entire project */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

button,
input {
  font: inherit;
}

a {
  text-decoration: none;
}
